In [1]:
my_list=[1,2,3,4,5,7.8,'Hasan']

In [5]:
for number in my_list:
    print(number)

1
2
3
4
5
7.8
Hasan

In [7]:
for number in my_list:
    new_numbers=number * 5
    print(new_numbers)

5
10
15
20
25
39.0
HasanHasanHasanHasanHasan

In [8]:
type(my_list[2])

int

In [9]:
type(my_list[5])

float

In [10]:
type(my_list[6])

str

In [12]:
my_list_2=[1,2,3,4,5,6]

In [16]:
for item in my_list_2:
    if item % 2 == 0:
        print(item)

2
4
6

In [17]:
my_tuple=(1,2,3)
type(my_tuple)

tuple

In [18]:
my_string='Hasan Zeynalov'

In [21]:
for letter in my_string:
    print(letter)

H
a
s
a
n

Z
e
y
n
a
l
o
v

In [22]:
my_tuple=(1,2,3)

In [23]:
for tuple in my_tuple:
    print(tuple * 5)

5
10
15

In [24]:
my_dictionary={'k1' : 150,'k2' : 260,'k3' : 340}

In [30]:
for dict in my_dictionary:
    
        print(dict)

k1
k2
k3

In [31]:
type(dict)

str

In [32]:
my_list_3=[(1,2),('Hasan','Maqa'),('Valeh','Makat')]

In [34]:
type(my_list_3[2])

tuple

In [37]:
for elements in my_list_3:
    print(elements)

(1, 2)
('Hasan', 'Maqa')
('Valeh', 'Makat')

In [42]:
for (x,y) in my_list_3:
    print((x,y))
    print(x)

(1, 2)
1
('Hasan', 'Maqa')
Hasan
('Valeh', 'Makat')
Valeh

In [43]:
print(x)

Valeh

In [44]:
print(y)

Makat

In [45]:
for (x,y) in my_list_3:
    print((x,y))
    print(x)
    print(y)

(1, 2)
1
2
('Hasan', 'Maqa')
Hasan
Maqa
('Valeh', 'Makat')
Valeh
Makat

In [46]:
my_tuple_4=[(1,2,3,4),(5,6,7,8),(9,10,11,12)]

In [47]:
for (a,b,c,d) in my_tuple_4:
    print(d)

4
8
12

In [54]:
my_dictionary_4={'k11' : 190,'k21' : 285,'k31' : 'Hasan'}

In [58]:
for (a,b,c ) in my_dictionary_4:
    print(a)
    print(b)
    print(c)

k
1
1
k
2
1
k
3
1

In [51]:
type(my_dictionary_4)

dict

In [59]:
for (my_dictionary_4.keys(),my_dictionary_4.values()) in my_dictionary_4:
    print(my_dictionary_4.keys())
    print(my_dictionary_4.values())

SyntaxError: cannot assign to function call (2505861836.py, line 1)

In [60]:
print(my_dictionary_4.items())

dict_items([('k11', 190), ('k21', 285), ('k31', 'Hasan')])

In [63]:
for a,b in my_dictionary_4.items():
    print(a,b)

k11 190
k11
k21 285
k21
k31 Hasan
k31

In [62]:
print(a)

k31